/************************
  Review Form
*************************/
.titleLink {
  color: #333;
  text-decoration: underline;
}

.labeled {
  font-size: 1.2em;
}

.inputField {
  width: 100%;
  margin: 5px 0 20px;
  border: 1px solid #555;
  border-bottom: 1px solid #333;
  padding: 5px;
  box-sizing : border-box; /* Prevent input field goes over form width */
}

.inputField:focus,
.inputField:hover {
  border: 1px solid dodgerblue;
}