/* Search */
.searchInput {
  height: 35px;
  border: none;
  border-bottom: 1px solid deeppink;
  padding: 5px;
  width: 140px;
  font-size: 1.1em;
  background: url('../../images/iconmonstr-magnifier-1-24.png') no-repeat right 5px center;
}

.searchInput:focus,
.searchInput:active {
  background: none;
}

@media only screen and (min-width: 400px) {
  .searchInput {
    width: 60%;
  }
}

/* Category filter */
select {
  border: 1px solid deeppink;
  height: 45px;
  margin: 0 0 20px 5px;
  padding-left: 10px;
}

/* Restaurant list */
.restaurantCard {
  border: 1px solid deeppink;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /*display: block;*/
}

/* Restaurant Card */
.photoBox {
  min-height: 100%;
  max-width: 120px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /*display: inline-block;
  padding-top: 15px;*/
}

.restaurantImage {
  max-width: 100px;
  max-height: 100px;
}

.restoBox {
  height: 100%;
  padding: 6px 4px 4px 8px;
  flex-grow: 2;
  /*display: inline-block;*/
}


.restoBox h4 {
  line-height: 1;
  margin: 0 0 5px 0;
}

.restoBox p {
  margin: 5px 0 7px;
  font-size: 0.9em;
}

.restoBox span {
  font-size: 0.8em;
}

/** 
  5 Star Rating Readonly 
**/
.starRatings {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 16px;
  height: 18px;
  /*width: 100px;*/
  margin: 3px;
  position: relative;
  text-shadow: 0 1px 0 #a2a2a2;
  display: inline-block;
} 
.starRatings::before { 
  content: '★★★★★';
  opacity: .7;
}

[title="NaN"]::after,
[title="0"]::after {
  width: 0%;
}
[title="1"]::after {
  width: 20%;
}
[title="2"]::after {
  width: 40%;
}
[title="3"]::after {
  width: 60%;
}
[title="4"]::after {
  width: 80%;
}
[title="5"]::after {
  width: 100%;
}

.starRatings::after {
  color: orange;
  content: '★★★★★';
  text-shadow: 0 1px 0 #ab5414;
  position: absolute;
  z-index: 1;
  display: block;
  left: 0;
  top:0;
  width: attr(rating);
  overflow: hidden;
}

/* Restaurant One Page */
.restaurantBox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.photoBoxOne {
  min-height: 100%;
  flex-grow: 1;
  display: flex;
  padding-top: 30px;
  /*justify-content: top;
  flex-direction: column;*/
}

.address {
  padding-left: 20px;
}

.createReviewButton {
  margin: 10px 10px 30px 10px;
  width: 45px;
  border: 2px solid deepskyblue;
  padding: 10px;
  border-radius: 10px;
}

.createReviewButton:focus,
.createReviewButton:hover {
  border: 2px solid orangered;
  border-radius: 0px;
}

.openHours {
  margin: 5px 0 0 0;
}

.openHours p {
  margin-left: 20px;
}

/* Reviews List */
.reviewsList {
  margin: 40px 0 0 0;
  padding: 0;
}

.reviewItem {
  border: 1px solid #999;
  border-radius: 10px;
  margin: 10px 0 0 0;
  padding: 0 0 0 10px;
  list-style-type: none;
  /*display: flex;*/
}

.reviewComment {
  margin-bottom: -20px;
  /*flex-grow: 4;*/
}

.reviewAuthor {
  /*flex-grow: 1;*/
  /*padding-top: 10px;*/
  text-align: center;
}

.authorName {
  line-height: 0.5;
  display: inline-block;
  margin-left: 10px;
}