.baseButton {
  margin: 10px;
  width: 45px;
  padding: 10px;
}

.baseButtonDesign {
  font-size: 1.1em;
}


/************************
  Signup / Signin Form 
*************************/
.authForm {
  padding-top: 20px; 
  max-width: 600px;
  margin: auto;
}

.labeled {
  display: block;
  font-size: 1.2em;
  margin: 15px 0 3px 0;
  color: #999;
}

.inputField {
  width: 100%;
  height: 45px;
  margin: 5px 0 10px 0;
  border: none;
  border-left: 1px solid dodgerblue;  
  border-bottom: 1px solid dodgerblue;
  padding: 5px;
  box-sizing : border-box; /* Prevent input field goes over form width */
}

.inputField:focus,
.inputField:hover {
  box-shadow: 0 0 10px #da1b1b;
}

.submitButton {
  width: 130px;
  height: 50px;
  border: 1px solid limegreen;
  margin: 15px 0 10px 0;
  padding: 10px;
  background-color: transparent;
  color: limegreen;
}

.noSubmit {
  width: 130px;
  height: 50px;
  border: 1px solid #da1b1b;
  margin: 15px 0 10px 0;
  padding: 10px;
  background-color: transparent;
  color: #da1b1b;
}

.submitButton:active {
  border: 3px solid orangered;
}

.error {
  color: red;
  margin: 0 0 15px 0;
}