.header {
  max-width: 500px;
  margin: auto;
  margin-bottom: 30px;
}

.homeButton {
  padding: 10px;
  border: 1px solid #fff;
}

.homeIcon {
  width: 35px;
  margin: 0;
  vertical-align: top;
  margin-top: -10px;
}

.floatRight {
  float: right;
  display: inline;
}

.navLink {
  composes: baseButton from 'styles/styles.css';
  composes: baseButtonDesign from 'styles/styles.css';
  font-size: 1em;
}

.homeButton:focus,
.homeButton:hover,
.navLink:focus,
.navLink:hover {
  box-shadow: 3px 3px 7px #555;
}

.homeButton:active,
.navLink:active {
  box-shadow: 3px 3px 7px mediumseagreen;
}