header {
  max-width: 500px;
  /*margin: 0 0 30px 0;*/
  margin: auto;
  margin-bottom: 30px;
}

.homeButton {
  /*width: 45px;*/
  /*border: 2px solid deepskyblue;*/
  padding: 10px;
  border: 1px solid #fff;
  /*border-radius: 10px;*/
}

.homeIcon {
  width: 35px;
  margin: 0;
  vertical-align: top;
  margin-top: -10px;
}

.floatRight {
  float: right;
  display: inline;
}

.navLink {
  margin: 10px;
  width: 45px;
  border: 2px solid deepskyblue;
  padding: 10px;
  border-radius: 10px;
}

.homeButton:focus,
.homeButton:hover {
  border: 1px solid orangered;
}

.navLink:focus,
.navLink:hover {
  border: 2px solid orangered;
  border-radius: 0px;
}

.homeButton:active,
.navLink:active {
  border: 2px solid mediumseagreen;
  border-radius: 10px;
}