header {
  margin: 0 0 30px 0;
  /*border: 1px solid black;*/
}

.homeButton {
  width: 45px;
  border: 2px solid deepskyblue;
  padding: 10px;
  border-radius: 10px;
}

.floatRight {
  float: right;
  display: inline;
}

.navLink {
  margin: 10px;
  width: 45px;
  border: 2px solid deepskyblue;
  padding: 10px;
  border-radius: 10px;
}

.homeButton:focus,
.homeButton:hover,
.navLink:focus,
.navLink:hover {
  border: 2px solid orangered;
  border-radius: 0px;
}

.homeButton:active,
.navLink:active {
  border: 2px solid mediumseagreen;
  border-radius: 10px;
}