/* Main Contetn Area */
main {
  border: 1px solid black;
  padding: 15px;
}

/* Footer */
footer {
  border: 1px solid black;
  text-align: center;
}

.heartIcon {
  width: 16px;
  vertical-align: top;
  margin: 0 3px;
}